.vs/
silver-horn-cloo/obj/
silver-horn-clootils/obj/
silver-horn-opencl/bin/
silver-horn-opencl/obj/
silver-horn-clootils/bin/
silver-horn-cloo/bin/
packages/
silver-horn-opencltemplate/obj/
silver-horn-opencltemplate/bin/
