.vs/
packages/

silver-horn-cloo/obj/
silver-horn-cloo/bin/

silver-horn-clootils/obj/
silver-horn-clootils/bin/

silver-horn-opencl/bin/
silver-horn-opencl/obj/

silver-horn-cloo-tests/bin/
silver-horn-cloo-tests/obj/

silver-horn-opencltemplate/obj/
silver-horn-opencltemplate/bin/
silver-horn-opencltemplate-tests/bin/
silver-horn-opencltemplate-tests/obj/
